
/* Your CSS Code here. */
/* Apply styles to the main element */
.accio {
    width: 150px;
    height: 150px;
    background-color: #000000;
}

/* Apply styles to the paragraph element with the class hello-accio */
.hello-accio {
    color: #ffffff;
    margin-left: 32px;
    padding: 10px;
}
